<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="medication">
      <h2 data-cy="medicationDetailsHeading"><span>Medication</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ medication.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ medication.name }}</span>
        </dd>
        <dt><span>Weight</span></dt>
        <dd>
          <span>{{ medication.weight }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ medication.code }}</span>
        </dd>
        <dt><span>Image</span></dt>
        <dd>
          <div *ngIf="medication.image">
            <a (click)="openFile(medication.image, medication.imageContentType)">Open</a>
            {{ medication.imageContentType }}, {{ byteSize(medication.image) }}
          </div>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ medication.createdBy }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ medication.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ medication.lastModifiedBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ medication.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Drone</span></dt>
        <dd>
          <div *ngIf="medication.drone">
            <a [routerLink]="['/drone', medication.drone.id, 'view']">{{ medication.drone.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/medication', medication.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
