<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="audit">
      <h2 data-cy="auditDetailsHeading"><span>Audit</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ audit.id }}</span>
        </dd>
        <dt><span>Message</span></dt>
        <dd>
          <span>{{ audit.message }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ audit.createdBy }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ audit.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ audit.lastModifiedBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ audit.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/audit', audit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
